@{
    ViewData["Title"] = "Подтверждение";
}

<div class="container mt-3">
    <h2>Регистрация</h2>
    <span>На указанный email отправлено письмо с подтверждением учетной записи.</span><br />
    <span>Подтвердите email, указанный при регистрации.</span>
</div>
