@model ProjectDTO
@{
    ViewData["Title"] = Model.Name;
}

<div class="container">
    <div class="col-md-12 order-md-1">
        <div class="row mt-2">
            <div class="col-md-2">
                <label class="float-right">ID:</label>
            </div>
            <div class="col-md-10">
                <p>@Model.Id</p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <label class="float-right">Название проекта:</label>
            </div>
            <div class="col-md-10">
                <p>@Model.Name</p>
            </div>
        </div>
    </div>
</div>
