@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">HelpMeDesk Dashboard</h4>
    <a class="nav-link" asp-controller="Ticket" asp-action="Index">Заявки</a>
</div>
