@model TicketDTO

<div class="container">
    <form method="post">
        <input asp-for="Id" hidden />

        <div class="col-md-12 order-md-1">
            <div class="row mt-2">
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <h3>Новая заявка</h3>
                </div>
            </div>

            <div class="row mt-2 form-group">
                <div class="col-md-2">
                    <label class="float-right mt-1" asp-for="Project">Проект:</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control">
                        <option>Janinn Fitness</option>
                        <option>Zebra Fitness</option>
                    </select>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="float-right mt-1" asp-for="Name">Название:</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Название" asp-for="Name">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="float-right" asp-for="Description">Описание:</label>
                </div>
                <div class="col-md-10">
                    <textarea type="text" rows="3" class="form-control" placeholder="Описание" asp-for="Description"></textarea>
                </div>
            </div>

            <div class="row mt-2 form-group">
                <div class="col-md-2">
                    <label class="float-right mt-1" asp-for="Priority">Приоритет:</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" asp-for="Priority">
                        <option value="1">Низкий</option>
                        <option value="2">Средний</option>
                        <option value="3">Высокий</option>
                        <option value="4">Критический</option>
                    </select>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="float-right mt-2">Вложения:</label>
                </div>
                <div class="col-md-10">
                    <div>

                    </div>
                    <button class="btn btn-light">
                        <i class="bi bi-paperclip"></i>
                    </button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <button type="submit" class="btn btn-success" value="Update">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>
